<!--On fait bouger le robot d'un point A à un point B à la main, sur le chemin il note d'un point sur la map toutes les 
bouteilles qu'il croise avec leurs positions, donc pas besoin de move_base-->

<launch>

    <!--Lance la simulation et le déplacement du robot-->
    <include file="$(find larm)/launch/challenge-2.launch"/>
    <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch"/>

    <!--Lance le mapping process en même temps que l'on avance, on ouvre rviz à part-->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
     <remap from="scan" to ="/scan"/>
     <param name="base_frame" value="base_footprint"/>   
     <param name="odom_frame" value="odom"/>   
    </node>

    <!--- Lance AMCL pour avoir la localisation du robot et donc
      de la canette-->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
     <remap from="scan" to="/scan" />
     <remap from="cmd_vel" to="/cmd_vel"/>
    </node>

    <!--Lance la visualisation-->
    <node pkg="student_package" name="visu" type="visualize.py"/>
    

</launch>
