<launch>
    <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch"/>
    
    <!--- Lance AMCL pour avoir la localisation du robot et donc
      de la canette-->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
     <remap from="scan" to="/scan" />
     <remap from="cmd_vel" to="/cmd_vel"/>
    </node>

    <node pkg="student_package" name="visu" type="visualize.py"/>
</launch>
